services:
  nginx:
    build: .
    ports:
      - 1935:1935
      - 8080:80
      - 8443:443
    volumes:
      - ./certs:/opt/certs
      - ./htpasswd:/etc/nginx/htpasswd
      - ./nginx.conf:/etc/nginx/nginx.conf.template
    depends_on:
    - auth
  auth:
    build: ./authentication
    environment:
    - VALID_STREAM_KEYS=key1,key2,key3
    - LOGLEVEL=info
